#pragma code_page(65001)

// https://learn.microsoft.com/en-us/windows/win32/menurc/versioninfo-resource
// https://learn.microsoft.com/en-us/windows/win32/api/verrsrc/ns-verrsrc-vs_fixedfileinfo

#define VERSION_NUM FILL_VERSION_NUM
#define VERSION_STR "FILL_VERSION_STR"
#define FILL_ADD_ICON

1 VERSIONINFO
FILEVERSION    VERSION_NUM
PRODUCTVERSION VERSION_NUM
FILETYPE       0x01    // VFT_APP
FILEOS         0x40004 // VOS_NT | VOS__WINDOWS32
FILESUBTYPE    0x0
FILEFLAGSMASK  0x3f
FILEFLAGS      0x0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "000004B0"
        {
            VALUE "ProductName",     "monmouse"
            VALUE "FileDescription", "monmouse"
            VALUE "LegalCopyright",  "melon-masou"
            VALUE "FileVersion",     VERSION_STR
            VALUE "ProductVersion",  VERSION_STR
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0000, 0x04b0
    }
}
#ifdef ADD_ICON
2 ICON "assets/monmouse.ico"
#endif
